<h1>New Task</h1>

<%= form_for(@task) do |t| %>
<p>
  <%= t.label :title %>
  <%= t.text_field :title %>
</p>
<p>

  <%= t.label :details %>
  <%= t.text_field :details %>
</p>
<p>
  <%= t.submit %>
</p>
<% end %>

<%= link_to tasks_path do %>
  <i class="fas fa-backward"></i>
  <% end %>





